{
    "Version": "2012-10-17",
    "Statement": [
       {
            "Sid": "allow-app-to-write-access-logs",
            "Effect": "Allow",
            "Principal": {
                "AWS": ${s3_key_users}
            },
            "Action": [
                "s3:PutObject",
                "s3:PutObjectAcl",
                "s3:PutObjectTagging",
                "s3:PutObjectVersionAcl",
                "s3:PutObjectVersionTagging",
                "s3:GetObject",
                "s3:GetObjectAcl"
            ],
            "Resource": ${s3_bucket_resources}
        }
    ]
}