{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowRootandHomeListingOfS3Bucket",
            "Effect": "Allow",
            "Principal": {
                "AWS": $s3_key_users
            },
            "Action": "s3:GetBucketAcl",
            "Resource": $s3_bucket_resources
        },
        {
            "Sid": "AllowRootandHomeListingOfS3Bucket",
            "Effect": "Allow",
            "Principal": {
                "AWS": $s3_key_users
            },
            "Action": "s3:PutObject",
            "Resource": $s3_bucket_resources,
            "Condition": {
                "StringEquals": {
                    "s3:x-amz-acl": "bucket-owner-full-control"
                }
            }
        }
    ]
}