{
    "Statement": [
      {
        "Effect": "Allow",
        "Principal": {
          "AWS": ${s3_key_users}
      },
        "Action": "s3:*",
        "Resource": [${s3_bucket_resources}, ${s3_bucket_resources}/*]
      },
      {
        "Effect": "Deny",
        "Principal": {
          "AWS": ${s3_key_users}
      },
        "Action": "s3:PutObject",
        "Resource": ${s3_bucket_resources}/*,
        "Condition": {
          "StringNotEquals": {
            "s3:x-amz-acl": "bucket-owner-full-control"
          }
        }
      }
    ]
  }